container{
    width: 886px;
    height: 1000px;
    border: 1px solid black;
    margin: 0  auto;
}
preheader{
    background:  url(../images/preheader.jpg);
    width: 886px;
    height: 71px
}
header{
    background: url(../images/header.jpg);
    width: 886px;
    height: 78px
}